#map {
    width: 500px;
    height: 500px;
    border: solid 1px #b1b1b1;
}

.china-map-label {
    box-sizing: border-box;
    font-size: 14px;
    padding: 5px;
    border: solid 1px #ccc;
    background-color: #d7d7d7;
}